<div *ngIf="bib; else nobib">
  <h1>{{ bib.title }} [{{ bib.mms_id }}]</h1>
<form [formGroup]="form">
    <mat-form-field>
      <mat-label translate>i18n.RecordDate0_7</mat-label>
      <input matInput formControlName="record_date_0_7" required minlength="8" maxlength="8" pattern="\d{8}">
    </mat-form-field>  
    <mat-form-field>
      <mat-label translate>i18n.PubType8</mat-label>
      <mat-select placeholder="" class="mat-no-underline"  formControlName="pub_type_8" name="pub_type_8" >
         <mat-option *ngFor="let z of pubTypeCode" [value]="z.value" >{{z.desc |translate }}  
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label translate>i18n.PubYear9_12</mat-label>
      <input matInput formControlName="pub_year1_9_12" minlength="4" maxlength="4" >
    </mat-form-field>
    <mat-form-field>
      <mat-label translate>i18n.PubYear13_16</mat-label>
      <input matInput formControlName="pub_year2_13_16" minlength="4" maxlength="4" >
    </mat-form-field>
    <mat-form-field>
      <mat-label translate>i18n.TargetAudience17</mat-label> 
      <mat-select placeholder="" class="mat-no-underline"  formControlName="reader_17" name="reader_17" >
        <mat-option *ngFor="let z of targetAudienceCode" [value]="z.value" > {{z.desc |translate }}  
       </mat-option>
     </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label translate>i18n.TargetAudience18</mat-label> 
      <mat-select placeholder="" class="mat-no-underline"  formControlName="reader_18" name="reader_18" >
        <mat-option *ngFor="let z of targetAudienceCode" [value]="z.value" > {{z.desc|translate }}  
       </mat-option>
     </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label translate>i18n.TargetAudience19</mat-label> 
      <mat-select placeholder="" class="mat-no-underline"  formControlName="reader_19" name="reader_19" >
        <mat-option *ngFor="let z of targetAudienceCode" [value]="z.value" > {{z.desc |translate }}  
       </mat-option>
     </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Government Publication Code(20)</mat-label> 
      <mat-select placeholder="" class="mat-no-underline"  mat-no-asterisk="false">
        <mat-option value="cloth">Cloth</mat-option>
        <mat-option value="leather">Leather</mat-option>
        <mat-option value="chain">Chainmail</mat-option>
        <mat-option value="plate">Plate</mat-option>
      </mat-select>
    </mat-form-field> 
    <mat-form-field>
      <mat-label>Modified Record Code(21)</mat-label>
      <input matInput >
    </mat-form-field> 
    <mat-form-field>
      <mat-label>Language of Cataloguing (22-24)</mat-label> 
      <mat-select placeholder="" class="mat-no-underline"  mat-no-asterisk="false">
        <mat-option value="cloth">Cloth</mat-option>
        <mat-option value="leather">Leather</mat-option>
        <mat-option value="chain">Chainmail</mat-option>
        <mat-option value="plate">Plate</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Transliteration Code(25)</mat-label>
        <input matInput >
      </mat-form-field>
    <mat-form-field>
      <mat-label>Character Set (26-29)</mat-label> 
      <mat-select placeholder="" class="mat-no-underline"  mat-no-asterisk="false" multiple>
        <mat-option value="cloth">Cloth</mat-option>
        <mat-option value="leather">Leather</mat-option>
        <mat-option value="chain">Chainmail</mat-option>
        <mat-option value="plate">Plate</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Character Set (30-33)</mat-label> 
      <mat-select placeholder="" class="mat-no-underline"  mat-no-asterisk="false" multiple>
        <mat-option value="cloth">Cloth</mat-option>
        <mat-option value="leather">Leather</mat-option>
        <mat-option value="chain">Chainmail</mat-option>
        <mat-option value="plate">Plate</mat-option>
      </mat-select>
    </mat-form-field>  
    <mat-form-field>
        <mat-label>Script of Title (34-35)</mat-label>
        <mat-select placeholder="" class="mat-no-underline"  mat-no-asterisk="false">
          <mat-option value="cloth">Cloth</mat-option>
          <mat-option value="leather">Leather</mat-option>
          <mat-option value="chain">Chainmail</mat-option>
          <mat-option value="plate">Plate</mat-option>
        </mat-select>
      </mat-form-field>
</form>
<div buttons>
  <button mat-flat-button type="button" color="primary" (click)="test()" >Save</button>
</div>
</div>
<ng-template #nobib>      
    Please navigate to a CNMARC/UNIMARC bibliographic record.
</ng-template>


<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>